# Git
.git
.gitignore

# Docker
.dockerignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/image-compressor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if you're using modules)
#vendor/

# misc
*.md
